$color-primary: #20a0ff;//#18c79c
$primary-blue: #42B0FF;//通用蓝色
$primary-black: #4d4d4d;
$primary-gray: #999999;
// 使用flex定位
@mixin flexMixin($direction,$justify,$align) {            
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 

  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  -o-flex-direction: $direction;
  flex-direction: $direction;

  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  -o-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
  //兼容IE10
  @if $justify == space-around {
    -ms-flex-pack: justify;
  } @else if $justify == space-between{
    -ms-flex-pack: justify;
    } @else if $justify == flex-end {
    -ms-flex-pack: end;
  } 
  @else if $justify == center {
    -ms-flex-pack: center;
  }@else {
    -ms-flex-pack: start;
  }

  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -o-align-items: $align;
  align-items: $align;
  -ms-flex-align: $align;
  //兼容IE10
  @if $align == stretch  {
    -ms-flex-align: stretch ;
  } @else if $align == center{
    -ms-flex-align: center;
    } @else if $align == flex-end {
    -ms-flex-align: end;
  } @else {
    -ms-flex-align: start;
  }

  // flex-direction: $direction;
  // justify-content: $justify;
  // align-items: $align;

}

@function px2rem($value) {
  $rem: 75px;
  @return ($value / $rem) + rem;
}

